<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{{ title or site.name }}</title>
<meta name="description" content="{{ metaDescription or description or site.description }}">

{% if site.url %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
{% else %}
  <link rel="canonical" href="{{ page.url }}">
{% endif %}

<meta property="og:type" content="website">
<meta property="og:title" content="{{ title or site.name }}">
<meta property="og:description" content="{{ metaDescription or description or site.description }}">
<meta property="og:url" content="{% if site.url %}{{ site.url }}{{ page.url }}{% else %}{{ page.url }}{% endif %}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title or site.name }}">
<meta name="twitter:description" content="{{ metaDescription or description or site.description }}">
